@charset "UTF-8";
/********************
* * * * DOCS * * * *
*********************/
/*
@function pow($number, $exp) {
    $value: 1;

    @if $exp > 0 {
        @for $i from 1 through $exp {
            $value: $value * $number;
        }
    }
    @else if $exp < 0 {
        @for $i from 1 through -$exp {
            $value: $value / $number;
        }
    }

    @return $value;
}
*/
/*
.btn-link {
  font-weight: normal;
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:disabled {
    @include hover-focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}
*/
/*
@mixin btn-color($color, $background, $border) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $background;
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  @include hover {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:focus,
  &.focus {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
    // Remove the gradient for the pressed/active state
    background-image: none;
    @include box-shadow($btn-active-box-shadow);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
    @include hover {
      background-color: $background;
          border-color: $border;
    }
  }
}
*/
/*
@mixin btn-outline-color($color) {
    color: $color;
    background-image: none;
    background-color: transparent;
    border-color: $color;

    @include hover {
        color: #fff;
        background-color: $color;
        border-color: $color;
    }

    &:focus,
    &.focus {
        color: #fff;
        background-color: $color;
        border-color: $color;
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: #fff;
        background-color: $color;
        border-color: $color;

        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: darken($color, 17%);
            border-color: darken($color, 25%);
        }
    }

    &.disabled,
    &:disabled {
        &:focus,
        &.focus {
            border-color: lighten($color, 20%);
        }

        @include hover {
            border-color: lighten($color, 20%);
        }
    }
}
*/
/*
@function pow($number, $exp) {
    $value: 1;

    @if $exp > 0 {
        @for $i from 1 through $exp {
            $value: $value * $number;
        }
    }
    @else if $exp < 0 {
        @for $i from 1 through -$exp {
            $value: $value / $number;
        }
    }

    @return $value;
}
*/
/*
Scrollbar
--------------------
        1
────────┐
        ┴   2
        ┬   2
        ║   3-4
        ║   3-4
        │   5-4
        │   5-4
────────┘   6-7
        1
--------------------
*/
body {
  font-family: 'Poppins';
  /*
    background: rgb(98, 88, 242);
    background: -moz-linear-gradient(-45deg, rgba(98, 88, 242, 1) 0%, rgba(62, 0, 225, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(98, 88, 242, 1) 0%, rgba(62, 0, 225, 1) 100%);
    background: linear-gradient(135deg, rgba(98, 88, 242, 1) 0%, rgba(62, 0, 225, 1) 100%);
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6258f2', endColorstr='#3e00e1', GradientType=1);
    */ }

/*
header {
    min-height: 80px;
    margin-bottom: 30px;
}
*/
[ng-click] {
  cursor: pointer;
  outline: none; }

.maxw-lg {
  max-width: 1320px; }

mapbox {
  display: block;
  width: 100%;
  height: 300px; }

.mapboxgl-ctrl {
  display: none; }

.container-form {
  max-width: 720px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3); }
  .container-form > .outer {
    position: relative;
    margin: 0 -15px; }
  .container-form > .inner {
    padding: 30px 80px; }

.controls {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 15px; }

.material {
  position: relative;
  overflow: hidden; }
  .material > material {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 640px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.25);
    visibility: hidden;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(0.01); }
  .material.animate > material {
    visibility: visible;
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 0;
    transition: all 1000ms ease-in-out; }

.marker {
  background: #0000ff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.25); }
  .marker:hover {
    background: #3333ff;
    box-shadow: 0 10px 12px -5px rgba(0, 0, 0, 0.45); }

[beach] {
  width: 100%;
  height: 480px; }

/*

html,
body {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

body {
    padding: 20px 0;
}

button {
    margin-bottom: 10px;
}

$background: #9ea0a2;
$positive: #111111;
$negative: #ffffff;
$border: #9ea0a2;
$idle: #d0d3db;
$active: #fff79a;
$hover: #03a9f4;
section {
    margin-bottom: 10px;
    border: 1px solid $border;
    border-radius: 4px;
    padding: 5px;
}

.month {
    display: block;
    background: $background;
    color: $negative;
    padding: 0;
    h6 {
        padding: 8px 10px 0 10px;
        font-size: 20px;
        font-weight: 100;
    }
    ul {
        display: block;
        background: $idle;
        font-size: 11px;
        width: 100%;
        min-width: 260px;
        &>.week {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: stretch;
            &>.cell {
                display: block;
                position: relative;
                width: 200px;
                min-height: 40px;
                line-height: 40px;
                text-align: center;
                padding: 20px 4px 4px 4px;
                // border: 1px solid $idle;
                box-sizing: border-box;
                text-align: right;
            }
            .cell+.cell {
                border-left: 1px solid $idle;
            }
            &:first-child {
                background: $background;
                color: $negative;
                &>.cell {
                    min-height: 25px;
                    line-height: 12px;
                    border-color: $border;
                    padding-top: 4px;
                }
            }
        }
        .week+.week {
            border-top: 1px solid $idle;
        }
    }
    .day {
        background: $negative;
        color: $positive;
        &.active {
            background: $active;
            cursor: pointer;
            &:hover {
                background: $hover;
                color: white;
                .task {
                    background: $negative;
                }
            }
        }
        &>.num {
            display: block;
            position: absolute;
            min-width: 16px;
            height: 16px;
            right: 3px;
            top: 3px;
            text-align: center;
            line-height: 16px;
        }
        &>.hours {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate3d(-50%, -50%, 0px);
        }
        &.today {
            &>.num {
                background: red;
                color: #fff;
                border-radius: 9px;
            }
        }
    }
    .tasks {
        display: block;
        position: relative;
        padding: 3px 0;
        line-height: 0;
        text-align: right;
        &>.task {
            display: inline-block;
            position: relative;
            background: #444;
            width: 4px;
            height: 4px;
            margin: 0 2px 3px 0;
            border-radius: 2px;
        }
    }
}

*/
